.layout {
  position: fixed;
  width: 100%;
  height: 100%;
 
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px ridge rgb(241, 11, 11);
}

.color-picker-container {
  text-align: center;
  display: inline;
  color: rgb(14, 14, 14);
}

.brushsize-container {
  display: inline;
  color: rgb(5, 5, 5);
  margin-left: 12px;
}

.tools-section {
  text-align: center;
  margin-top: -40px;
  margin-left: 930px;
}

.whiteboard-layout {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 1%;
  background: white;
}

/* name hading */

.name-midile {
  text-align: justify;
  color: rgb(10, 10, 10);
  text-shadow: 1px 1px rgb(73, 9, 247);
  font-size: 25px;
  margin-top: -10px;
}
