.layout {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(211, 240, 244);
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px ridge rgb(158, 245, 216);
}

.color-picker-container {
  text-align: center;
  display: inline;
  color: rgb(4, 4, 4);
}

.brushsize-container {
  display: inline;
  color: rgb(12, 12, 12);
  margin-left: 100px;
}

.tools-section {
  text-align: center;
  margin-top: -40px;
  margin-left: 930px;
}

.whiteboard-layout {
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 1%;
  background: white;
}



.name-midile {
  text-align: justify;
  color: rgb(10, 10, 10);
  text-shadow: 1px 1px rgb(73, 9, 247);
  font-size: 25px;
  margin-top: -10px;
}
h2{
  color:rgb(12, 12, 12);
  
}
h4{
  color:rgb(12, 12, 12);
  
}
